.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
#select_file_upload {
    padding: 120px;
    padding-left: 210px;
}
ul.list-event[_ngcontent-c11] li[_ngcontent-c11] {
    display: inline-block;
    width: 33%;
    padding: 10px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul[_ngcontent-c11] {
    list-style: none;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.card {
    word-wrap: break-word;
}
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.img-tracking[_ngcontent-c11] {
    padding-top: 56.25%;
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
info[_ngcontent-c40]:hover {
    background-color: #76dde1 !important;
    border-color: #76dde1 !important;
}
danger[_ngcontent-c11], .toast-danger[_ngcontent-c11], a.btn-danger[_ngcontent-c11] {
    color: #fff !important;
    background-color: #e88787 !important;
    border-color: #e88787 !important;
}
.badge[_ngcontent-c11] .icon[_ngcontent-c11], .bg[_ngcontent-c11] .icon[_ngcontent-c11], .btn[_ngcontent-c11] .icon[_ngcontent-c11], .toast[_ngcontent-c11] .icon[_ngcontent-c11], a.btn[_ngcontent-c11] .icon[_ngcontent-c11] {
    font-size: inherit;
    margin-right: .25rem;
    display: inline-block;
    vertical-align: middle;
}
.badge[_ngcontent-c18] {
    padding: .3125rem .9375rem !important;
    font-weight: 300;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
ul.ulInfo[_ngcontent-c18] li[_ngcontent-c18]:last-child {
    right: 3px;
    position: absolute;
    top: 3px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
ul.ulInfo[_ngcontent-c18] li[_ngcontent-c18] {
    padding: 0;
    display: inline-block;
    width: 33%;
}
ul.list-event[_ngcontent-c18] li[_ngcontent-c18] {
    display: inline-block;
    width: 33%;
    padding: 10px;
}
.mr-top-6[_ngcontent-c18] {
    margin-top: 6px !important;
}
.mr-top-6 {
    margin-top: 6px !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.event-detail[_ngcontent-c23] {
    justify-content: center;
}
.pd-50[_ngcontent-c23] {
    padding: 50px !important;
}
.pd-50 {
    padding: 50px !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.card {
    word-wrap: break-word;
}
.form-error {
    color: red;
}
.loader {
    position: absolute;
    left: 22%;
    top: 10%;
}
.img-tracking[_ngcontent-c16] {
    padding-top: 56.25%;
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.col-md-7 {
        position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.video-not-ready[_ngcontent-c16] {
    position: absolute;
    top: .5rem;
    right: 1.4375rem;
    z-index: 1;
}